#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 111px;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 81px;        
}

#content {
    margin-top: 81px;
    margin-bottom: 130px;
}

/************************************************/
/******************** NAVBAR ********************/
/************************************************/
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    font-size: 1.5em;
    display: inLine;
}

.nav > li > a {
    padding: 20px 30px;
}

.navbar-inverse
.navbar-nav > li > a {
    color: #71a14b;
}

.navbar-brand {
    height: 80px;
    padding: 0px;
}


#logo {
    height: 100%;
    margin-left: 25px;
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

/************************************************/
/******************** FOOTER ********************/
/************************************************/
.site-footer{
    background-color: #222;
    color: #71a14b;
    padding-top: 30px;
}

.bottom-footer{
    border-top: 1px solid #71a14b;
    margin-top: 10px;
    padding-top: 10px;
    color: #71a14b;
}

.footer-nav
{
    text-align: right;
    list-style: none;
}

.footer-nav li{
    display: inline;
}

.footer-nav li:not(:first-child):before{
    content: '|';
    padding: 0px 20px;
}

.footer-nav a{
    color: #71a14b;
}

.footer-nav a:hover{
    color: #fff;
    text-decoration: none;
}

/************************************************/
/******************** OTHERS ********************/
/************************************************/
.bg {
  background: url(../img/bg_h1200.jpg) no-repeat;
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 1200px;
  top: 81px;
  z-index: -1;
}

.jumbotron {
  height: 250px;
  font-size: 2em;
  color: #71a14b;
  text-shadow: #FFF 0 2px 2px;
  background:transparent;
  padding-top: 20px;
}

#dbtable {
    padding-top: 0px;
    padding-bottom: 20px;
}

.tablesmall {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
        
}

.tabletiny {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
        
}

#btn-width-full {
    width: 100%; 
}

#automargin {
    margin-left: auto;
    margin-right: auto;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #d0ceb7; //color of skull
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #71a14b;
  border-color: #5e863f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #5e863f;
  border-color: #537637;
}
