body{
    background-color: #F8F8FF;
}

header {
    background: #F8F8FF;
    width: 100%; 
    position: fixed;
    left: 0;
    top: 0;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
}

.inner{
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    min-width:700px;
    }

h1{
   font-family: Arial;
   font-size: 32pt; 
   text-align: center;
   color: blue;
}

.nav{
    font-family: Arial; 
    font-size: 14pt; 
    text-align: right;
}

.haupt{
    font-family: Arial; 
    font-size: 16pt; 
    text-align: left;
}