body{
    background-color: #F8F8FF;
}

/*header {
    background: #F8F8FF;
    width: 100%; 
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 10px;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
}*/

ul { padding: 0; text-align: justify; }

li { display: inline-block; list-style: none; padding: 1em 0; }

#line { padding-left: 100%; background: #F8F8FF; }
    
.aheader {
    font-family: Verdana, Arial; 
    font-size: 20pt; 
    color: black;
    text-decoration: none;
}

h1 { 
    font-family: serif; 
    font-style: italic;
    font-size: 5em;
    letter-spacing: .1em;
    text-align: center;
    width: 100%; 
}